---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
      Blog - Abhinav Jain
      </span>
    </h1>
    <p class="text-center text-2xl p-4">Web Developer. Designer. Blogger.</p>
  </div>
  <div>
    <p class="mb-5">
      Hello and welcome to my blog. I am Abhinav Jain, a web developer and designer. I am a <b>huge fan of open source</b> and I love to share my knowledge with others by writing about web development, design, and other things that I find interesting. You can find some of my latest posts here.
    </p>
  </div>
</section>
